.flex-around {
    display: flex;
    justify-content: space-around;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}

.h-90 {
    height: 90% !important;
}

.fw-lighter {
    font-weight: lighter;
}
.fw-light {
    font-weight: 300;
}
.fs-xs {
    font-size: 0.75em;
}
.fs-xs {
    font-size: 0.85em;
}
.fs-md {
    font-size: 1.2em;
}