<ion-menu contentId="{{ contentId }}">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ s.t('menu') }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let menu of menus">
        <ion-item [routerDirection]="'root'" (click)=" onClick( menu ) ">
          <ion-icon slot="start" [name]="menu.icon"></ion-icon>
          <ion-label>
            {{ s.t( menu.title ) }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>