

ion-toolbar {
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --min-height: 46px !important;
}
.menus {
    align-items: stretch;
}
.menu {
    padding: .6em 1.25em;
    text-align: center;
    font-size: 11px;
    cursor: pointer;

    ion-icon {
        font-size: 2.5em;
    }
}
